.lightbox {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.lightbox__close-wrap {
  display: flex;
  justify-content: flex-end;
  width: 85vw;
  height: 5vh;
}

/* .lightbox__close-wrap a {
  font-size: 2em;
} */

.lightbox__wrap {
  width: 85vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
